.appointmentSection {
  margin-top: 4.8rem;
}

.appointmentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 auto;
}

.appointment-title {
  font-family: "Open Sans", sans-serif;
  color: #8d8e92;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 5rem;
  border: 1px solid #c7dcfb;
  padding: 0.4rem 2.4rem;
  margin-bottom: 1.6rem;
}

.appointmentHeading {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.8rem;
  color: #1b2c51;
  font-weight: 700;
  margin-top: 0;
}

.appointmentText {
  margin-bottom: 2.4rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #8d8e92;
  line-height: 1.5;
}

.callUs,
.mailUs {
  display: flex;
  background-color: #eff5ff;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
  margin-bottom: 3rem;
}

.phoneIcon,
.mailIcon {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phoneIcon i,
.mailIcon i {
  color: #0463fa;
  font-size: 1.6rem;
  transform: scaleX(-1);
}

.callUsText {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #8d8e92;
}

.phoneNumber,
.email {
  font-size: 2rem;
  color: #1b2c51;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.appointmentForm {
  background-color: #eff5ff;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
}

.appointmentForm textarea {
  border: #fff;
  border-radius: 1rem;
  outline: none;
}

.appointmentForm textarea::placeholder {
  color: #8d8e92;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  padding: 2rem;
}

.appointmentForm textarea:focus {
  border: 2px solid #0463fa;
}

.bookBppointmentBtn {
  background-color: #0463fa;
  padding: 1.6rem 1.2rem;
  border-radius: 7px;
  grid-column: 1/-1;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
}

@media (max-width: 1000px) {
  .appointmentContainer {
    grid-template-columns: 1fr;
  }

  textarea {
    grid-column: 1/ -1;
  }

  input {
    height: 5rem;
  }
}

@media (max-width: 1000px) {
  .appointmentForm {
    grid-template-columns: 1fr;
  }
}
