<section class="info-section">
  <div class="info">
    <div class="info-part">
      <div class="info-header">
        <p>Good Health Is The Root Of All Heppiness</p>
      </div>
      <div class="info-statistics">
        <div class="statistics-container">
          <div class="statistics">
            <p class="number">{{ info.DOCTORS }}</p>
            <p class="text">Expert Doctors</p>
          </div>
          <div class="statistics">
            <p class="number">{{ info.STAFF }}</p>
            <p class="text">Medical Staff</p>
          </div>
          <div class="statistics">
            <p class="number">{{ info.PATIENTS }}</p>
            <p class="text">Total Patients</p>
          </div>
        </div>
      </div>
    </div>
    <div class="info-carousel">
      <div class="carousel">
        <h1>Cardiology</h1>
        <img src="../../assets/carousel-1.jpg" alt="" class="carousel-img" />
      </div>
    </div>
  </div>
</section>
