<section class="doctors-section">
  <div class="doctors-container">
    <div class="section-heading">
      <p class="doctors-title">Doctors</p>
      <p class="doctors-heading">Our Experienced Doctors</p>
    </div>
    <div class="doctors">
      <div class="doctor">
        <div class="doctor-img">
          <img src="../../assets/team-2.jpg" alt="" srcset="" />
        </div>
        <div class="doctor-info">
          <h5>Doctor Name</h5>
          <p>department</p>
          <ul class="social-media-list">
            <li class="list-icons">
              <app-icon
                [icon]="'fab fa-facebook-f'"
                [iconSize]="'icon-lg'"
                [iconContainerSize]="'icon-container-md'"
              ></app-icon>
            </li>
            <li class="list-icons">
              <app-icon
                [icon]="'fab fa-twitter'"
                [iconSize]="'icon-lg'"
                [iconContainerSize]="'icon-container-md'"
              ></app-icon>
            </li>
            <li class="list-icons">
              <app-icon
                [icon]="'fab fa-instagram'"
                [iconSize]="'icon-lg'"
                [iconContainerSize]="'icon-container-md'"
              ></app-icon>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
