<section class="aboutus-section">
  <div class="aboutus-container container">
    <div class="aboutus-images">
      <img src="../../assets/about-1.jpg" alt="" class="first-img" />
      <img src="../../assets/about-2.jpg" alt="" class="second-img" />
    </div>
    <div class="aboutus">
      <p class="section-title">About Us</p>
      <h1 class="aboutus-heading">Why You Should Trust Us ? Know About Us !</h1>
      <p class="aboutus-info">
        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
        amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
        clita duo justo magna dolore erat amet
        <br /><br />
        Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est
        diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita
        sit at, sed sit sanctus dolor eos.
      </p>
      <ul class="features-list">
        <li class="feature-item">
          <div class="icon">
            <i class="far fa-check-circle"></i>
          </div>
          <div class="feature-text">
            <p>Quality Health Care</p>
          </div>
        </li>
        <li class="feature-item">
          <div class="icon">
            <i class="far fa-check-circle"></i>
          </div>
          <div class="feature-text">
            <p>Only Qualified Doctors</p>
          </div>
        </li>
        <li class="feature-item">
          <div class="icon">
            <i class="far fa-check-circle"></i>
          </div>
          <div class="feature-text">
            <p>Medical Research Professionals</p>
          </div>
        </li>
      </ul>

      <button class="about-us-btn">Read More</button>
    </div>
  </div>
</section>
