.testimonialSection {
  margin-top: 3rem;
}

.testimonialContainer {
  text-align: center;
}

.testimonialHeading {
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #1b2c51;
  margin-bottom: 4rem;
}

.flexContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
}

.testimonialCard {
  overflow: hidden;
  display: none;
}

.upperSection {
  overflow: hidden;
  display: flex;
}

.patientImage {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.7rem solid #0463fa;
  margin: 0;
}

.patientImage img {
  width: 100%;
}

.upperSection {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 3rem;
  margin-top: 3rem;
  color: #0463fa;
  cursor: pointer;
}

.iconRight {
  margin-left: 5rem;
}

.iconLeft {
  margin-right: 5rem;
}

.textSection {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.text {
  width: 50rem;
  height: 15rem;
  background-color: #0463fa;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 2rem;
  line-height: 1.3;
  font-size: 1.4rem;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.name {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.profession {
  font-style: italic;
}

.active {
  display: block;
}

.moveLeft {
  animation-name: move-left;
  animation-duration: 1s;
}
.moveRight {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes move-right {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}
