.featuresSection {
  margin: 4.8rem 0;
  background-color: #0463fa;
}

.featuresContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.imgContainer {
  max-height: 55rem;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuresTexts {
  background-color: #0463fa;
  padding: 4.8rem;
}

.featuresTitle {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 5rem;
  border: 1px solid #c7dcfb;
  padding: 0.4rem 2.4rem;
  margin-bottom: 1.6rem;
}

.featuresHeading {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.8rem;
  color: #ffffff;
  font-weight: 700;
}

.featuresInfo {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  padding-bottom: 0.8rem;
}

/* .icon-container {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container i {
  color: #0463fa;
  font-size: 1.5rem;
} */

.iconItem {
  display: flex;
  gap: 2rem;
}

.featureIcons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
}

.textOne {
  color: #fff;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

.textTwo {
  color: #fff;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .featuresContainer {
    grid-template-columns: 1fr;
    padding: 0 9rem;
  }
}

@media (max-width: 600px) {
  .featuresContainer {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .featureIcons {
    grid-template-columns: 1fr;
  }
}
