<footer>
  <div class="footer-container container">
    <div class="address section-styling">
      <h1 class="foot-section-title">Address</h1>
      <ul class="section-list">
        <li class="section-item">
          <i class="fa fa-map-marker-alt"></i>123 Street, New York, USA
        </li>
        <li class="section-item">
          <i class="fa fa-phone-alt"></i>+123 456 7890
        </li>
        <li class="section-item">
          <i class="fa fa-envelope"></i>info&#64;example.com
        </li>
      </ul>

      <ul class="section-icons">
        <li class="footer-icon-item"><i class="fab fa-twitter"></i></li>
        <li class="footer-icon-item"><i class="fab fa-facebook-f"></i></li>
        <li class="footer-icon-item"><i class="fab fa-youtube"></i></li>
        <li class="footer-icon-item"><i class="fab fa-linkedin-in"></i></li>
      </ul>
    </div>
    <div class="footer-services section-styling">
      <h1 class="foot-section-title">Services</h1>
      <ul class="section-list">
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Cardiology
        </li>
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Pulmonary
        </li>
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Neurology
        </li>
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Orthopedics
        </li>
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Laboratory
        </li>
      </ul>
    </div>
    <div class="quick-links section-styling">
      <h1 class="foot-section-title">Quick Links</h1>
      <ul class="section-list">
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>About us
        </li>
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Contact us
        </li>
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Our Services
        </li>
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Terms & Conditions
        </li>
        <li class="section-item footer-service-item">
          <i class="fa-solid fa-chevron-right"></i>Support
        </li>
      </ul>
    </div>
    <div class="newsletter section-styling">
      <h1 class="foot-section-title">News Letter</h1>
      <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
    </div>
  </div>
</footer>
